<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iui-loading-indicator</title>
    <link href="lib/dist/iui-loading-indicator.css" rel="stylesheet">
    <link href="http://medseek-engineering.github.io/iui-charts/lib/dist/iui-charts.css" rel="stylesheet">
    <link rel="stylesheet" href="chart-demo/demo.css">
    <style>
      .tab-pane .panel-body {
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
      }
      .chart {
        margin-top: 100px;
        margin-bottom: 100px;
      }
      .chart .well {
        background: white;
      }
    </style>
  </head>
  <body>
    <main
      class="container-fluid"
      ng-app="LoadingIndicatorDemoApp"
      ng-controller="LoadingIndicatorController as indicator">
    
      
      <div class="row">
          
        <div class="col-md-12">
            <h2>iui-Loading-Indicators</h2>
            <p class="lead">Show busy/loading indicators on any $http or $resource request, or on any promise.</p>
            <p>The loading indicator uses a combination of our styling and a public directive called <a href="https://github.com/cgross/angular-busy">angular-busy</a> or cg-busy</p>
            <p>The loading label indicator is our own directive called iuiLoadingLabel when allows you to change the label and give it one promise to watch.</p>
        </div>
    
      </div>
    
      <div class="row">
    
        <div class="col-md-12">
    
          <form class="form-horizontal" role="form">
            <legend>Demo Options</legend>
            <div class="form-group">
              <label for="delayInput" class="col-sm-5 control-label">Delay (ms)</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="delayInput" ng-model="indicator.delay">
              </div>
            </div>
            <div class="form-group">
              <label for="durationInput" class="col-sm-5 control-label">Min Duration (ms)</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="durationInput" ng-model="indicator.minDuration">
              </div>
            </div>
            <div class="form-group">
              <label for="message" class="col-sm-5 control-label">Loading Message</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="message" ng-model="indicator.message">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-5 col-sm-5">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="indicator.backdrop"> Show Backdrop
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="template" class="col-sm-5 control-label">Template Url</label>
              <div class="col-sm-7">
                <select class="form-control" id="template" ng-model="indicator.templateUrl">
                  <option value=''>Standard</option>
                  <option value='custom-template.html'>custom-template.html</option>
                </select>
              </div>
            </div>
          </form>
        </div>
    
        <div class="col-md-12" style="padding-top:28px">
          
          <h2>Table Example</h2>
          <div cg-busy="{promise:indicator.tablePromise,templateUrl:indicator.templateUrl,message:indicator.message,backdrop:indicator.backdrop,delay:indicator.delay,minDuration:indicator.minDuration}">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td rowspan="2">1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@TwBootstrap</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-offset-5 col-sm-7" style="padding-right:0px">
              <button
                id="loading-button"
                class="btn btn-default pull-right"
                ng-click="indicator.demo('table')"
                iui-loading-label="Demoing..."
                promise="indicator.tablePromise">
                Demo
              </button>
            </div>
        </div>
        
        <div class="col-md-12" style="padding-top:28px">
          
          <h2>Select Box Examples</h2>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="template" class="col-sm-5 control-label">Dropdown Select</label>
              <div class="col-sm-7">
                <select 
                  class="form-control"
                  iui-loading-label="Loading..."
                  promise="indicator.selectPromise">
                  <option value=''>1</option>
                  <option value=''>2</option>
                  <option value=''>3</option>
                  <option value=''>4</option>
                  <option value=''>5</option>
                </select>
              </div>
            </div>
            <br>
            <div class="form-group">
              <label for="template" class="col-sm-5 control-label">Multiple Select</label>
              <div class="col-sm-7">
                <select multiple
                  class="form-control"
                  iui-loading-label="Loading..."
                  promise="indicator.selectPromise">
                  <option value=''>1</option>
                  <option value=''>2</option>
                  <option value=''>3</option>
                  <option value=''>4</option>
                  <option value=''>5</option>
                </select>
              </div>
            </div>
          </form>
          <div class="col-sm-offset-5 col-sm-7" style="padding-right:0px">
            <button
              id="loading-button"
              class="btn btn-default pull-right"
              ng-click="indicator.demo('select')"
              iui-loading-label="Demoing..."
              promise="indicator.selectPromise">
              Demo
            </button>
          </div>
          
        </div>
        
        <div class="col-md-12" style="padding-top:28px">
          <h2>Accordion Example</h2>
          <accordion close-others="oneAtATime">
            <accordion-group heading="This is an Open Accordion." is-open="true">
              <div cg-busy="{promise:indicator.accordionPromise,templateUrl:indicator.templateUrl,message:indicator.message,backdrop:indicator.backdrop,delay:indicator.delay,minDuration:indicator.minDuration}">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac lacus at lectus dapibus mollis efficitur at nulla. Sed nec odio ultricies neque cursus malesuada. Cras sagittis, augue nec pulvinar gravida, turpis justo sagittis ligula, eget laoreet libero ligula eget risus. Curabitur posuere tellus lectus, in pulvinar risus luctus ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In id posuere nibh. Sed lobortis scelerisque lacus at ultrices. Sed placerat neque at ornare tempus. Curabitur ut dignissim nunc, vel vehicula dolor. Pellentesque tempus tortor varius maximus tincidunt. Etiam at massa vitae mi bibendum feugiat in feugiat sapien.
              </div>
            </accordion-group>
            <accordion-group heading="This accordion is loading stuff in the background." is-open="false">
              <div class="cg-busy-wrapper" cg-busy="{promise:indicator.accordionPromise,templateUrl:indicator.templateUrl,message:indicator.message,backdrop:indicator.backdrop,delay:indicator.delay,minDuration:indicator.minDuration}">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac lacus at lectus dapibus mollis efficitur at nulla. Sed nec odio ultricies neque cursus malesuada. Cras sagittis, augue nec pulvinar gravida, turpis justo sagittis ligula, eget laoreet libero ligula eget risus. Curabitur posuere tellus lectus, in pulvinar risus luctus ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In id posuere nibh. Sed lobortis scelerisque lacus at ultrices. Sed placerat neque at ornare tempus. Curabitur ut dignissim nunc, vel vehicula dolor. Pellentesque tempus tortor varius maximus tincidunt. Etiam at massa vitae mi bibendum feugiat in feugiat sapien.
              </div>
            </accordion-group>
            <accordion-group heading="This one is also loading in the background." is-open="false">
              <div class="cg-busy-wrapper" cg-busy="{promise:indicator.accordionPromise,templateUrl:indicator.templateUrl,message:indicator.message,backdrop:indicator.backdrop,delay:indicator.delay,minDuration:indicator.minDuration}">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac lacus at lectus dapibus mollis efficitur at nulla. Sed nec odio ultricies neque cursus malesuada. Cras sagittis, augue nec pulvinar gravida, turpis justo sagittis ligula, eget laoreet libero ligula eget risus. Curabitur posuere tellus lectus, in pulvinar risus luctus ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In id posuere nibh. Sed lobortis scelerisque lacus at ultrices. Sed placerat neque at ornare tempus. Curabitur ut dignissim nunc, vel vehicula dolor. Pellentesque tempus tortor varius maximus tincidunt. Etiam at massa vitae mi bibendum feugiat in feugiat sapien.
              </div>
            </accordion-group>
          </accordion>
          <div class="col-sm-offset-5 col-sm-7" style="padding-right:0px">
            <button
              id="loading-button"
              class="btn btn-default pull-right"
              ng-click="indicator.demo('accordion')"
              iui-loading-label="Demoing..."
              promise="indicator.accordionPromise">
              Demo
            </button>
          </div>
        </div>
        
        <div class="col-md-12" style="padding-top:28px">
          <h2>Tab Example</h2>
          <tabset>
            <tab heading="This Tab is active">
              <div class="cg-busy-wrapper panel-body" cg-busy="{promise:indicator.tabPromise,templateUrl:indicator.templateUrl,message:indicator.message,backdrop:indicator.backdrop,delay:indicator.delay,minDuration:indicator.minDuration}">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac lacus at lectus dapibus mollis efficitur at nulla. Sed nec odio ultricies neque cursus malesuada. Cras sagittis, augue nec pulvinar gravida, turpis justo sagittis ligula, eget laoreet libero ligula eget risus. Curabitur posuere tellus lectus, in pulvinar risus luctus ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In id posuere nibh. Sed lobortis scelerisque lacus at ultrices. Sed placerat neque at ornare tempus. Curabitur ut dignissim nunc, vel vehicula dolor. Pellentesque tempus tortor varius maximus tincidunt. Etiam at massa vitae mi bibendum feugiat in feugiat sapien.
              </div>
            </tab>
            <tab heading="This Tab Loads in the background">
              <div class="cg-busy-wrapper panel-body" cg-busy="{promise:indicator.tabPromise,templateUrl:indicator.templateUrl,message:indicator.message,backdrop:indicator.backdrop,delay:indicator.delay,minDuration:indicator.minDuration}">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac lacus at lectus dapibus mollis efficitur at nulla. Sed nec odio ultricies neque cursus malesuada. Cras sagittis, augue nec pulvinar gravida, turpis justo sagittis ligula, eget laoreet libero ligula eget risus. Curabitur posuere tellus lectus, in pulvinar risus luctus ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In id posuere nibh. Sed lobortis scelerisque lacus at ultrices. Sed placerat neque at ornare tempus. Curabitur ut dignissim nunc, vel vehicula dolor. Pellentesque tempus tortor varius maximus tincidunt. Etiam at massa vitae mi bibendum feugiat in feugiat sapien.
              </div>
            </tab>
            <tab heading="Also Loading in the background">
              <div class="cg-busy-wrapper panel-body" cg-busy="{promise:indicator.tabPromise,templateUrl:indicator.templateUrl,message:indicator.message,backdrop:indicator.backdrop,delay:indicator.delay,minDuration:indicator.minDuration}">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac lacus at lectus dapibus mollis efficitur at nulla. Sed nec odio ultricies neque cursus malesuada. Cras sagittis, augue nec pulvinar gravida, turpis justo sagittis ligula, eget laoreet libero ligula eget risus. Curabitur posuere tellus lectus, in pulvinar risus luctus ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In id posuere nibh. Sed lobortis scelerisque lacus at ultrices. Sed placerat neque at ornare tempus. Curabitur ut dignissim nunc, vel vehicula dolor. Pellentesque tempus tortor varius maximus tincidunt. Etiam at massa vitae mi bibendum feugiat in feugiat sapien.
              </div>
            </tab>
          </tabset>
          <br>
          <div class="col-sm-offset-5 col-sm-7" style="padding-right:0px">
            <button
              id="loading-button"
              class="btn btn-default pull-right"
              ng-click="indicator.demo('tab')"
              iui-loading-label="Demoing..."
              promise="indicator.tabPromise">
              Demo
            </button>
          </div>
        </div>
        <div class="col-md-12 chart">
          <h2>Chart Example</h2>
        	<iui-chart
        	  class="well"
        	  cg-busy="{promise:indicator.chartPromise,templateUrl:indicator.templateUrl,message:indicator.message,backdrop:indicator.backdrop,delay:indicator.delay,minDuration:indicator.minDuration}"
            date-range="indicator.dateRange"
            chart-settings="indicator.healthInformation.settings"
            display-fields="indicator.healthInformation.displayFields"
            chart-data="indicator.healthInformation.data">
          </iui-chart>
          <div class="col-sm-offset-5 col-sm-7" style="padding-right:0px">
            <button
              id="loading-button"
              class="btn btn-default pull-right"
              ng-click="indicator.demo('chart')"
              iui-loading-label="Demoing..."
              promise="indicator.chartPromise">
              Demo
            </button>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        
      </div>
    
      
      
    </main>

    <!-- Libraries -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.2/angular.min.js"></script>

    <!-- Angular dependent scripts and modules below -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.js"></script>

    <!-- Module script -->
    <script src="lib/dist/iui-module.js"></script>
    <script src="http://medseek-engineering.github.io/iui-charts/lib/dist/iui-charts.min.js"></script>

    <!-- test script -->
    <script src="script.js"></script>
    <!-- <script src="chart-demo/demo.js"></script> -->
    
  </body>
</html>
